<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jack Betts. It uses data from mapbox.com and darksky.net to get the weather.</p>
        <img src="/img/me.jpg" class="portrait">
    </div>

    {{>footer}}
</body>

</html>